/*? global clearing */
*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.judul {
  width: 100%;
  height: max-content;
  margin: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.gbt {
  width: 100px;
}

.pertandingan {
  width: 100%;
  height: max-content;
  margin: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.tempat {
  width: 100%;
  height: max-content;
  margin: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}

.vs {
  font-size: 90px;
}

#bot {
  width: 150px;
}

#pemain {
  width: 150px;
}

.pilihan {
  width: 100%;
  height: max-content;
  margin: 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}

.gunting {
  margin: 10px 25px;
  width: max-content;
  height: max-content;
  border: 3px solid black;
  cursor: pointer;
}
.batu {
  margin: 10px 25px;
  width: max-content;
  height: max-content;
  border: 3px solid black;
  cursor: pointer;
}
.kertas {
  margin: 10px 25px;
  width: max-content;
  height: max-content;
  border: 3px solid black;
  cursor: pointer;
}

#gunting {
  width: 150px;
}
#batu {
  width: 150px;
}
#kertas {
  width: 150px;
}

#reset {
  font-size: 20px;
  background-color: skyblue;
  cursor: pointer;
  padding: 5px;
}

#reset:hover {
  background-color: aquamarine;
  transition: all 0.3s;
}

a {
  text-decoration: none;
}

@media screen and (max-width: 450px) {
  #pemain {
    width: 60px;
  }
  #bot {
    width: 60px;
  }
  #vs {
    font-size: 40px;
  }

  #gunting {
    width: 70px;
  }
  #kertas {
    width: 70px;
  }
  #batu {
    width: 70px;
  }

  .gunting {
    margin: 0 10px;
  }
  .kertas {
    margin: 0 10px;
  }
  .batu {
    margin: 0 10px;
  }
}
